*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  
}
.product-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.single-product{
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
}
.single-product img{
  width: 200px;
}
.header{
  display: flex;
  justify-content: space-between;
}